<div class="row page-events">
  <div class="col-12">
    <div class="row">
      <div class="col-6 block-search">
        <p>
          <label for="">
            <input type="text" placeholder="Search"><i class="fas fa-search"></i>
          </label>
          <img src="assets/Screen-Shot.png" alt="">
        </p>
      </div>
      <div class="col-6 block-toggle-view">
        <p>
          Вид: <a href="#" class="blue underline">Картки</a>
        </p>
      </div>
    </div>
  </div>
  <div class="block-my-events col-12 col-xl-12">
    <div class="row">
      <div class="col-6">
          <h3>Мої події</h3>
      </div>
      <div class="col-6">
          <button class="btn-create-event">+ Створити нову подію</button>
      </div>
    </div>
    <div class="row">
      <app-item-event class="col-3"></app-item-event>
      <app-item-event class="col-3"></app-item-event>
      <app-item-event class="col-3"></app-item-event>
      <app-item-event class="col-3"></app-item-event>
      <app-item-event class="col-3"></app-item-event>
      <app-item-event class="col-3"></app-item-event>
      <app-item-event class="col-3"></app-item-event>
      <app-item-event class="col-3"></app-item-event>
    </div>
    <div class="row">
      <div class="col-12">
        <button class="btn-show-more">+ Показати усі</button>
      </div>
    </div>
  </div>

  <div class="col-12 col-xl-12">
    <h3>Усі події</h3>
    <div class="row">
      <app-item-event class="col-3"></app-item-event>
      <app-item-event class="col-3"></app-item-event>
      <app-item-event class="col-3"></app-item-event>
      <app-item-event class="col-3"></app-item-event>
      <app-item-event class="col-3"></app-item-event>
      <app-item-event class="col-3"></app-item-event>
    </div>
    <div class="row">
      <div class="col-12 justify-content-center">
        <button class="btn-show-more">+ Показати усі</button>
      </div>
    </div>
  </div>
</div>