<div class="page-events">
  <div class="block-my-events col-12 col-xl-12">
    <h3>Мої події</h3>
    <div class="row">
      <app-item-event class="col-3"></app-item-event>
      <app-item-event class="col-3"></app-item-event>
      <app-item-event class="col-3"></app-item-event>
      <app-item-event class="col-3"></app-item-event>
      <app-item-event class="col-3"></app-item-event>
      <app-item-event class="col-3"></app-item-event>
      <app-item-event class="col-3"></app-item-event>
      <app-item-event class="col-3"></app-item-event>
    </div>
  </div>

  <div class="col-12 col-xl-12">
    <h3>Усі події</h3>
    <div class="row">
      <app-item-event class="col-3"></app-item-event>
      <app-item-event class="col-3"></app-item-event>
      <app-item-event class="col-3"></app-item-event>
      <app-item-event class="col-3"></app-item-event>
    </div>
    <div class="row">
      <app-item-event class="col-3"></app-item-event>
      <app-item-event class="col-3"></app-item-event>
      <app-item-event class="col-3"></app-item-event>
      <app-item-event class="col-3"></app-item-event>
    </div>
    <div class="row">
      <app-item-event class="col-3"></app-item-event>
      <app-item-event class="col-3"></app-item-event>
      <app-item-event class="col-3"></app-item-event>
      <app-item-event class="col-3"></app-item-event>
    </div>
  </div>
</div>