<div class="page-view-event">
  <div class="row">
    <div class="col-12">
      <p class="btn-back">
        <a href=""><i class="fas fa-arrow-left"></i>&nbsp;Повернутися до списку подій</a>
      </p>
    </div>
    <div class="col-5">
      <div class="section-left">
        <p class="banner"><img src="assets/event-placeholder.jpeg" alt=""></p>
        <ul>
          <li>
            <div class="string-top">Коли:</div>
            <div class="string-bottom">23th April 2019<a href="">+ Додати до календаря</a></div>
          </li>
          <li>
            <div class="string-top">Де:</div>
            <div class="string-bottom">Lviv, Naukova 2B <i class="far fa-map"></i> MAP</div>
          </li>
          <li>
            <div class="string-top">Контакти організавтора:</div>
            <div class="string-bottom">
                <a href="" class="underline">Petro Boiko</a><br>
                +23 487 877 85 65 <br>
                emailhere@email.com
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-6 offset-1">
      <div class="section-right">
        <h2>Супровід незрячого</h2>
        <a href="">Інститут суспільних ініціатив</a>
        <div>
          <h3>Опис</h3>
          <p>
              Ми — спільнота молодих, активних, відповідальних людей, що звикли робити,
              а не тільки говорити. Ми живемо у світі, що постійно змінюється і лише від нас залежить,
              яким буде наше майбутнє. Відчуваєш бажання та поклик змінювати нашу країну та світ на краще? Долучайся до нас!
              <br>
              <br>
              Волонтерський хаб ІСІ — платформа для можливостей для наших волонтерів та допомоги партнерам
              нашої мережі у реалізації їхньої діяльності.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>