<div class="page-view-event">
  <div class="row">
    <div class="col-12">
      <p class="btn-back">
        <a href=""><i class="fas fa-arrow-left"></i>&nbsp;Повернутися до списку подій</a>
      </p>
    </div>
    <div class="col-5">
      <div class="section-left">
        <p class="banner"><img src="assets/event-placeholder.jpeg" alt=""></p>
        <ul>
          <li>
            <div class="string-top">Коли:</div>
            <div class="string-bottom">23th April 2019<a href="">+ Додати до календаря</a></div>
          </li>
          <li>
            <div class="string-top">Де:</div>
            <div class="string-bottom"></div>
          </li>
          <li>
            <div class="string-top">Контакти організавтора:</div>
            <div class="string-bottom"></div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-7">
      <div class="section-right"></div>
    </div>
  </div>
</div>