.page-view-event {

  .btn-back {
    margin-bottom: 25px;
  }
  .section-left {
    .banner {
      margin-bottom: 30px;
      img {
        display: block;
        border-radius: 8px;
        width: 100%;
        height: auto;
      }
    }
  }
}