<div class="item">
  <div class="top-section">
    <img src="assets/event-placeholder.jpeg" alt="event">
  </div>
  <div class="bottom-section">
    <p><time>{{event.startDate}}</time></p>
    <h5>{{event.name}}</h5>
    <p class="description">{{shrink(event.description)}}</p>
    <p class="statistic-set clearfix">
      <span><i class="fas fa-star"></i>4,7</span>
      <span><i class="fas fa-user-alt"></i>10+</span>
      <span><i class="fas fa-map-marker-alt"></i>{{event.location}}</span>
      <button>Долучитися</button>
    </p>
  </div>
</div>
