<header class="row">
  <div class="col-5 align-items-center logo"><a href="/">LOGO</a></div>
  <nav class="col-7 nav-links justify-content-end">
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Головна</a>
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/events">Події</a>
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/about-us">Про нас</a>
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/contact">Контакти</a>
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/f-a-q">F.A.Q</a>
    <a class="signin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/signin"><i class="fas fa-user-alt"></i>Увійти</a>
  </nav>
</header>