header {
  padding-top: 23px;
  padding-bottom: 23px;
  margin-bottom: 40px;

  .logo {
    height: 30px;
    width: 63px;
    opacity: 0.2;
    color: #010101;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: -0.3px;
    line-height: 30px;
  }

  nav {
    display: flex;

    a {
      display: flex;
      margin-left: 50px;
      position: relative;
      font-size: 13px;
      line-height: 30px;
      color: #3B4044;
      text-transform: uppercase;

      &.active::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        bottom: -23px;
        height: 4px;
        background-color: #15A59C;
      }

      &.signin {
        margin-left: 80px;
        text-transform: none;
        color: #0793E4;

        &:hover {
          text-decoration: underline;
        }

        i {
          position: absolute;
          color: #80868B;
          font-size: 16px;
          top: 50%;
          left: -30px;
          transform: translate(0, -50%);
        }
      }
    }
  }
}