<div class="header-nav">
<header class="row">
    <div class="col-5 col-xl-2 align-items-center logo"><a href="/">LOGO</a></div>
    <nav class="col-7 col-xl-10 nav-links justify-content-end">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Головна</a>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/events">Події</a>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/volunteer">Волонтери</a>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/about-us">Про нас</a>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/contact">Контакти</a>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/f-a-q">F.A.Q</a>
        <ng-container *ngIf="!user || user.role == 'Anonymous'">
            <a class="signin" routerLink="/signin">
                <i class="fas fa-user-alt"></i>
                Увійти
            </a>
        </ng-container>
        <ng-container *ngIf="user && user.role != 'Anonymous'">
            <a class="signin">
                <i class="fas fa-user-alt"></i>
                {{user.username}}
            </a>
        </ng-container>
    </nav>
</header>
</div>
