<div class="col-12">
    <div class="row form-group">
        <form class="col-12" #volunteerForm="ngForm" (ngSubmit)="submit()">
            <p>
                <label for="orgName">Назва огранізації<span class="required-asterisk"></span>
                    <input type="text" class="form-control" name="orgName" id="orgName" ngModel required [disabled]="isLoading"/>
                </label>
            </p>

            <p>
                <label for="description">Опис організації<span class="required-asterisk"></span>
                    <input type="text" class="form-control" name="description" id="description" ngModel required [disabled]="isLoading" />
                </label>
            </p>

            <p>
                <label for="firstName">Ім'я<span class="required-asterisk"></span>
                    <input type="text" class="form-control" name="firstName" id="firstName" ngModel required [disabled]="isLoading" />
                </label>
            </p>

            <p>
                <label for="patronymic">По-батькові<span class="required-asterisk"></span>
                    <input type="text" class="form-control" name="patronymic" id="patronymic" ngModel required [disabled]="isLoading"/>
                </label>
            </p>

            <p>
                <label for="lastName">Прізвище<span class="required-asterisk"></span>
                    <input type="text" class="form-control" name="lastName" id="lastName" ngModel required [disabled]="isLoading"/>
                </label>
            </p>
            <p>
                <label for="webpageReference">URL(website, Facebook)<span class="required-asterisk"></span>
                    <input type="text" class="form-control" name="webpageReference" id="webpageReference" ngModel required [disabled]="isLoading"/>
                </label>
            </p>
            <p>
                <label for="birthdate">Дата народження<span class="required-asterisk"></span>
                    <input type="date" class="form-control" name="birthdate" id="birthdate"
                           ngModel required [disabled]="isLoading"/>
                </label>
            </p>
            <p>
                <label for="phone">Контактний телефон<span class="required-asterisk"></span>
                    <input type="tel" class="form-control" name="phone" id="phone" ngModel required [disabled]="isLoading"/>
                </label>
            </p>
            <p>
                <label for="email">Електронна адреса<span class="required-asterisk"></span>
                    <input type="email" class="form-control" name="email" id="email" ngModel required [disabled]="isLoading"/>
                </label>
            </p>
            <p>
                <label for="password1">Пароль<span class="required-asterisk"></span>
                    <input type="password" class="form-control" name="password1" id="password1" ngModel required [disabled]="isLoading"/>
                </label>
            </p>
            <p>
                <label for="password2">Повтор пароля<span class="required-asterisk"></span>
                    <input type="password" class="form-control" name="password2" id="password2" ngModel required [disabled]="isLoading"/>
                </label>
            </p>
            <p>
                <label for="areaOfExpertise">Область діяльності
                    <input type="text" class="form-control" name="areaOfExpertise" id="areaOfExpertise" ngModel [disabled]="isLoading"/>
                </label>
            </p>
            <p>
                <label for="data-process-agreement">
                    <input type="checkbox" name="dataProcessAgreement" id="data-process-agreement"
                           ngModel required [disabled]="isLoading"/>Я погоджуюся на обробку особистих даних
                </label>
            </p>
            <p>
                <label for="register-btn">
                    <button type="submit" name="register-btn" id="register-btn" class="btn btn-default" [disabled]="isLoading">
                        Зареєструватися
                    </button>
                </label>
            </p>
        </form>
    </div>
</div>
