menu, li, ul, ol, p, h1, h2, h3, h4, h5, h6, label {
    margin: 0;
    padding: 0;
}

li {
  list-style: none;
}

a, a:hover {
    text-decoration: none;
}

button, button:active {
  border: none;
  outline: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.mb-15 {
  margin-bottom: 15px;
}

.container {
    min-height: 100vh;
}

.container > * {
    display: block;
}

a.blue {
    color: #0793E4;
}

a.underline {
    text-decoration: underline;
}

@media (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

.required-asterisk:after {
    content: '*';
    color: red;
}

.header-black .header-nav {
    background-color: black;
}
