<div class="item">
  <div class="left-section">
    <img src="assets/Bitmap Copy 3.png" alt="event">
  </div>
  <div class="right-section">
    <h5><span>Дмитро</span>&nbsp;<span>Коваль</span></h5>
    <p class="statistic-set clearfix">
      <span><i class="fas fa-star"></i>4,7</span>
      <span><i class="fas fa-user-alt"></i>Teacher</span>
      <span><i class="fas fa-map-marker-alt"></i>Lviv</span>
    </p>
    <!-- <p class="organization"><button>Запросити</button></p> -->
    <p class="organization"><span>Інститут суспільних ініціатив</span><button>Вилучити</button></p>
  </div>
</div>