<div class="col-12">
  <div class="row">
    <form class="col-12">
      <p><label>Ім'я<input type="text"></label></p>
      <p><label>Прізвище<input type="text"></label></p>
      <p><label>Дата народження<input type="text"></label></p>
      <p><label>Контактний телефон<input type="text"></label></p>
      <p><label>Електронна адреса<input type="text"></label></p>
      <p><label>Посилання на Вашу сторінку у Facebook<input type="text"></label></p>
      <p><label>Навички<input type="text"></label></p>
      <p><label>Бажана локація<input type="text"></label></p>
      <p><label>Досвід волонтерства<input type="text"></label></p>
      <p><label>Frequency<input type="text"></label></p>
      <p><label>Availabbility<input type="text"></label></p>
      <p><label>Area of interest<input type="text"></label></p>
      <p><label><input type="checkbox">I agree to share information</label></p>
      <p><label><button>Sign up</button></label></p>
    </form>
  </div>
</div>